<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% extends "base.html" %}

{% block title %}Test Ajax{% endblock %}

{% block content %}

<form action="/berkay_test" method="post" class="d-inline">
    <div class=container>
        <div class="py-1 text-center">
            <img class="d-block mx-auto mb-1"
                src="https://muhendislik.gop.edu.tr/Depo/Icons/birim_logo/fakulteler//muhendislik_tr.png?dt=20201213223623"
                alt="" width="440" height="120">
            <h2>Optimizasyon Algoritmalarını Test Et !</h2>
            <p class="lead">Applied Optimization Algorithms and Machine Learning on Flask - Applied Optimization
                Algorithms and Machine Learning on Flask</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Yapay Arı Algoritması (ABC)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Arı Sayısı - Besin Sayısı</label>
                                <input type="number" value="45" step="any" class="form-control" name="abc_populationSize" id="abc_PopulationSize"
                                    placeholder="Arı Sayısı - Besin Sayısı" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Genetik Algoritma (GA)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Populasyon Boyutu</label>
                                <input type="number" value="100" class="form-control" name="ga_populationSize" id="ga_populationSize"
                                    placeholder="Populasyon Boyutu" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Mutasyon Olasılığı </label>
                                <input type="number" value="0.2" class="form-control" name="ga_mutationRate"
                                    id="ga_mutationRate" placeholder="Mutasyon Olasılığı" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Çaprazlama Olasılığı</label>
                                <input type="number" value="0.4" class="form-control" name="ga_crossRate" id="ga_crossRate"
                                    placeholder="Çaprazlama Olasılığı" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Parçacık Sürü Optimizasyonu (PSO)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Sürüdeki Birey Sayısı</label>
                                <input type="number" inputmode="decimal" value="5" class="form-control" name="pso_populationSize"
                                    id="pso_populationSize" placeholder="Süredeki Birey Sayısı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Diferansiyel Evrim Algoritması (DEA)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Popülasyon Sayısı</label>
                                <input type="number" value="100" class="form-control" name="dea_populationSize" id="dea_populationSize"
                                    placeholder="Popülasyon Sayısı" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Mutasyon Olasılığı</label>
                                <input type="number" value="0.5" class="form-control" name="dea_mutationRate"
                                    id="dea_mutationRate" placeholder="Mutasyon Olasılığı" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Çaprazlama Olasılığı</label>
                                <input type="number" value="0.9" class="form-control" name="dea_crossRate" id="dea_crossRate"
                                    placeholder="Çaprazlama Olasılığı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Test Etmek İstediğiniz Fonksiyonları ve İterasyon Sayısını Belirleyiniz</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="formControlRange">İterasyon Sayısını Belirleyiniz</label>
                            <input type="range" class="form-control-range" min="10" max="100" step=10
                                oninput="num.value = this.value">
                            <output id="num">60</output>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Sphere Fonksiyonu</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Rastrigin
                                        Fonksiyonu</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                                        value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">Berkay Fonksiyonu</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4"
                                        value="option4">
                                    <label class="form-check-label" for="inlineCheckbox3">Salih Fonksiyonu</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button type="button" class="btn btn-primary btn-lg btn-block">Testi Başlat !</button>

        
        <br> <br>

    </div>






































    {% endblock %}