{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<body>



    <form action="/dataUpload" method="post" enctype=multipart/form-data>
        <input type="file" name="dosya">
        <input type="submit" value="Gönder">
    </form>

    {% if dosya %}
    <br>
    <img width="250px" src="{{ url_for('static', filename='dataUpload/'+ dosya) }}" />
    <div class="alert alert-success" role="alert">
    <b>{{ dosya }}</b> adlı dosya başarıyla yüklendi !
    </div>

    {% endif %}

    <!--Hata Mesajı  -->   
    {% with mesajlar = get_flashed_messages() %}
    {% if mesajlar %}

    <br> <br>
    <ul class=flashes>
        {% for mesaj in mesajlar %}
        <div class="alert alert-danger" role="alert">
            <b>HATA - </b>{{ mesaj }}
        </div>

        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>

</html>


{% endblock %}