{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<!DOCTYPE html>
<html>
    
<head>
    <title>ANASAYFA</title>
</head>

<body>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Genetik Algoritma TSP</h4>
            </div>
            <div class="card-body">
                <form action="/genetik" method = "post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Birey Sayısı</label>
                            <input type="number" class="form-control" name="sayi1" placeholder="Birey Sayısı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Çaprazlama Olasılığı</label>
                            <input type="number" class="form-control" name="sayi2" placeholder="Çaprazlama Olasılığı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mutasyon Olasılığı</label>
                            <input type="number" class="form-control" name="sayi3" placeholder="Mutasyon Olasılığı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>İterasyon Sayısı</label>
                            <input type="number" class="form-control" name="sayi4" placeholder="İterasyon Sayısı" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">En Kısa Rotayı Hesapla </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}