{% extends "base.html" %}
{% block title %}Home Index{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="custom-card">
        <h3 class="custom-card-title">OPTİMİZASYON</h3>
        <p class="custom-card-content">Kelime anlamı “Mümkün olan en iyi duruma getirmek” demektir. Optimizasyon, en basit
            tanımıyla en iyi çıktıyı üretecek girdileri seçmeye yardımcı olarak sonuçları iyileştirmeyi sağlar.</p>
        <a href="{{url_for('optimization')}}"><button class="custom-card-btn">İNCELE ></button></a>
    </div>
    <div class="custom-card">
        <h3 class="custom-card-title">GEZGİN SATICI</h3>
        <p class="custom-card-content">Bir satıcının verilen şehir listesine göre bulunduğu
            şehirden itibaren tüm şehirlere yalnızca bir defa uğramak şartı ile en kısa yoldan (rotadan) ulaşması olarak
            açıklanabilir.</p>
        <a href="{{url_for('tsp')}}"><button class="custom-card-btn">İNCELE ></button></a>
    </div>
    <div class="custom-card">
        <h3 class="custom-card-title">MAKİNE ÖĞRENMESİ</h3>
        <p class="custom-card-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
            piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <a href="{{url_for('machine_learning')}}"><button class="custom-card-btn">İNCELE ></button></a>
    </div>
</div>
{% endblock %}