{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<form id="opt_form" class="d-inline" method="POST">
    <div class=container>
        <div class="py-1 text-center">
            <img class="d-block mx-auto mb-1"
                src="https://muhendislik.gop.edu.tr/Depo/Icons/birim_logo/fakulteler//muhendislik_tr.png?dt=20201213223623"
                alt="" width="440" height="120">
            <h2>Optimizasyon Algoritmalarını Test Et !</h2>
            <p class="lead">Applied Optimization Algorithms and Machine Learning on Flask - Applied Optimization
                Algorithms and Machine Learning on Flask</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Yapay Arı Algoritması (ABC)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Arı Sayısı - Besin Sayısı</label>
                                <input type="number" value="30" step="any" class="form-control"
                                    name="abc_populationSize" id="abc_populationSize"
                                    placeholder="Arı Sayısı - Besin Sayısı" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Limit</label>
                                <input type="number" inputmode="decimal" value="5" step="any" class="form-control"
                                    name="abc_limit" id="abc_limit" placeholder="Arı Sayısı - Besin Sayısı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Tavlama Benzetimi</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Sıcaklık</label>
                                <input type="number" value="10000" class="form-control" name="sa_temperature"
                                    id="sa_temperature" placeholder="Maksimum Sıcaklık" disabled required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Soğuma Katsayısı</label>
                                <input type="number" value="0.99" inputmode="decimal" class="form-control"
                                    name="sa_cooling_coefficient" id="sa_cooling_coefficient"
                                    placeholder="Mutasyon Olasılığı" disabled required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Delta</label>
                                <input type="number" value="0.10" inputmode="decimal" class="form-control"
                                    name="sa_delta" id="sa_delta" placeholder="Çaprazlama Olasılığı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Parçacık Sürü Optimizasyonu (PSO)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Sürüdeki Birey Sayısı</label>
                                <input type="number" value="30" class="form-control" name="pso_particle_size"
                                    id="pso_particle_size" placeholder="Süredeki Birey Sayısı" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Ağırlık</label>
                                <input type="number" value="0.8" class="form-control" name="pso_weight" id="pso_weight"
                                    placeholder="Ağırlık(w)" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Diferansiyel Evrim Algoritması (DEA)</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Popülasyon Sayısı</label>
                                <input type="number" value="30" class="form-control" name="dea_population_size"
                                    id="dea_population_size" placeholder="Popülasyon Sayısı" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Mutasyon Olasılığı</label>
                                <input type="number" value="0.5" class="form-control" name="dea_mutation_rate"
                                    id="dea_mutation_rate" placeholder="Mutasyon Olasılığı" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Çaprazlama Olasılığı</label>
                                <input type="number" value="0.5" class="form-control" name="dea_crossRate"
                                    id="dea_crossRate" placeholder="Çaprazlama Olasılığı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Test Etmek İstediğiniz Fonksiyonları, İterasyon Sayısını ve Problem Boyutunu Belirleyiniz
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="formControlRange">İterasyon Sayısını Belirleyiniz</label>
                            <input type="range" class="form-control-range" min="10" max="100" step=10 id="iteration"
                                name="iteration" oninput="iteration1.value = this.value">
                            <output id="iteration1" name="iteration1">60</output>
                        </div>
                        <label>Test Fonksiyonları</label>
                        <div class="form-row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="obj_function" id="obj_function"
                                    value="sphere" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Sphere Fonksiyonu
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Problem Boyutu</label>
                            <input type="number" value="4" class="form-control" name="problem_size" id="problem_size"
                                placeholder="Çaprazlama Olasılığı" required>
                        </div>
                        <div class="form-group">
                            <label>Üst Sınır</label>
                            <input type="number" value="5.12" inputmode="decimal" class="form-control" name="bound"
                                id="bound" placeholder="Üst Sınır" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <button type="submit" id="btn_run" class="btn btn-primary btn-lg btn-block">Testi Başlat !</button>
    </div>
</form>
<center class="mt-2 mb-2">
    <div class="spinner-border" id="wait" style="width: 3rem; height: 3rem; display: none;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</center>
<center>
    <h4>Grafikler - button click kitle/aç</h4>
</center>
<div class="container" id="plot_area" style="display: none;">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img id="compare_graph" src="" style="width: 100%;" />
        </div>
        <div class="col-md-6">
            <img id="compare_graph2" src="" style="width: 100%;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img id="abc_cost_graph" src="" style="width: 100%; height: 400px;" />
        </div>
        <div class="col-md-6">
            <img id="sa_cost_graph" src="" style="width: 100%; height: 400px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img id="pso_cost_graph" src="" style="width: 100%; height: 400px;" />
        </div>
        <div class="col-md-6">
            <img id="de_cost_graph" src="" style="width: 100%; height: 400px;" />
        </div>
    </div>


</div>

<script>
    console.log("Yüklendim")
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
        console.log("Yüklendim")
        $('#btn_run').click(function () {
            console.log("Formdan Veri Aldım")
            $("#plot_area").css("display", "none");
            var form_data = new FormData($('#opt_form')[0]);
            $.ajax({
                type: 'POST',
                url: '/optimize',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                enctype: 'multipart/form-data'
            })
                .done(function (data) {
                    console.log("Hatalı Çalıştım")
                    if (data.error) {
                        $('#errorAlertText').text(data.error);
                        $('#errorAlert').show();
                        $('#successAlert').hide();
                    }
                    else {
                        console.log("Çalıştım")
                        console.log(data);

                        $('#abc_cost_graph').attr("src", data.abc_cost_path);
                        $('#sa_cost_graph').attr("src", data.sa_cost_path);
                        $('#pso_cost_graph').attr("src", data.pso_cost_path);
                        $('#de_cost_graph').attr("src", data.de_cost_path);
                        $('#compare_graph').attr("src", data.compare_costs_path);
                        $('#compare_graph2').attr("src", data.compare_costs_path2);

                        $("#plot_area").css("display", "block");

                        $('#errorAlert').hide();
                    }
                });
            event.preventDefault();
        });
    });
</script>

{% endblock %}