<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% extends "base.html" %}

{% block title %}Test Ajax{% endblock %}

{% block content %}
<div class="container">
    <form id="tspform" method="post" class="d-inline" enctype="multipart/form-data">
        <div class="form-group">
            <label for="cityfile">Gezgin satıcı problemi için dosya seçiniz. Dosya tipleri (csv, txt)</label>
            <input type="file" class="form-control-file btn btn-primary" name="cityfile" id="cityfile"
                accept=".csv, .txt">
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-white"
                        style="background-image: linear-gradient(to left,#826d57,#863b22 ) !important">
                        <h4>Karınca Kolonisi Parametreleri</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Karınca Sayısı</label>
                                <input type="number" value="11" class="form-control" name="ant_size" id="ant_size"
                                    placeholder="Karınca Sayısı" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Feromon Buharlaşma Orarnı</label>
                                <input type="number" value="0.3" step="any" class="form-control" name="pheromone_rho"
                                    id="pheromone_rho" placeholder="Feromon Miktarı" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Alfa</label>
                                <input type="number" step="any" value="1" class="form-control" name="alpha" id="alpha"
                                    placeholder="Alfa Değeri" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Beta</label>
                                <input type="number" step="0.1" value="1" min="0.1" max="5.0" class="form-control"
                                    name="beta" id="beta" placeholder="Beta Değeri" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #5b9ad5;
                    background-image: linear-gradient(to left,#5b9ad5,#007bff ) !important"">
                        <h4>Genetik Algoritma Parametreleri</h4>
                    </div>
                    <div class=" card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Birey Sayısı</label>
                                <input type="number" value="100" class="form-control" name="life_count" id="life_count"
                                    placeholder="Birey Sayısı" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Mutasyon Olasılığı </label>
                                <input type="number" value="0.2" class="form-control" name="mutation_rate"
                                    id="mutation_rate" placeholder="Mutasyon Olasılığı" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>Çaprazlama Olasılığı</label>
                                <input type="number" value="0.4" class="form-control" name="cross_rate" id="cross_rate"
                                    placeholder="Çaprazlama Olasılığı" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-1">
            <div class="col-md-12">
                <div class="form-group">
                    <label>İterasyon Sayısı</label>
                    <input type="number" value="3" class="form-control" id="iteration" name="iteration"
                        placeholder="İterasyon Sayısı" min="1" max="100" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="btn_run" type="submit" class="btn btn-primary" style="width: 100%;">ÇALIŞTIR</button>
            </div>
        </div>
    </form>

    <center>
        <div id="wait" style="display: none;">
            <span class="loader">
                <span class="loader-inner"></span>
            </span>
            <br>
            <p class="mt-2">Yükleniyor...</p>
        </div>
    </center>


    <div class="alert alert-warning alert-dismissible mt-2 mb-2" id="errorAlert" role="alert" style="display: none;">
        <strong id="errorAlertText"></strong>
    </div>
</div>
<div id="plot_area" style="display: block;">
    <center>
        <h4>Genetik ve Karınca Karşılaştırma Grafikleri</h4>
    </center>
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-8">
                <img id="ga_vs_aco_routes" src="" style="width: 100%; height: 400px;" />
            </div>
            <div class="col-md-4 mt-5">
                <img id="ga_vs_aco_cost" src="" style="width: 100%; height: 250px;" />
            </div>
        </div>
    </div>
    <center>
        <h4>Karınca Kolonisi Grafikleri</h4>
    </center>
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-7">
                <img id="aco_route" src="" style="width: 100%; height: 400px;" />
            </div>
            <div class="col-md-5 mt-5">
                <img id="aco_cost" src="" style="width: 100%; height: 300px;" />
            </div>
        </div>
    </div>
    <center>
        <h4>Genetik Algoritma Grafikleri</h4>
    </center>
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-7">
                <img id="ga_route" src="" style="width: 100%; height: 400px;" />
            </div>
            <div class=" col-md-5 mt-5">
                <img id="ga_cost" src="" style="width: 100%; height: 300px;" />
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #fff;
        }

        .skype-loader {
            width: 60px;
            height: 60px;
            position: relative;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .skype-loader .dot {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;

            animation: 1.8s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
        }

        .skype-loader .dot:nth-child(1) {
            animation-delay: 0.2s;
        }

        .skype-loader .dot:nth-child(2) {
            animation-delay: 0.35s;
        }

        .skype-loader .dot:nth-child(3) {
            animation-delay: 0.45s;
        }

        .skype-loader .dot:nth-child(4) {
            animation-delay: 0.55s;
        }

        .skype-loader .dot:after,
        .skype-loader .dot .first {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: #02aff1;
            border-radius: 50%;
            left: 50%;
            margin-left: -4px;
        }

        .skype-loader .dot .first {
            background: #02aff1;
            margin-top: -4px;
            animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
            animation-delay: 0.2s;
        }

        @keyframes dotrotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes dotscale {

            0%,
            10% {
                width: 16px;
                height: 16px;
                margin-left: -8px;
                margin-top: -4px;
            }

            50% {
                width: 8px;
                height: 8px;
                margin-left: -4px;
                margin-top: 0;
            }

            90%,
            100% {
                width: 16px;
                height: 16px;
                margin-left: -8px;
                margin-top: -4px;
            }
        }
    </style>

    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#wait").css("display", "block");
            });


            $(document).ajaxComplete(function () {
                $("#wait").css("display", "none");
            });


            $('#btn_run').click(function () {
                $("#plot_area").css("display", "none");
                var form_data = new FormData($('#tspform')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/solvetsp',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: true,
                    enctype: 'multipart/form-data'
                })
                    .done(function (data) {

                        if (data.error) {
                            $('#errorAlertText').text(data.error);
                            $('#errorAlert').show();
                            $('#successAlert').hide();
                        }
                        else {
                            console.log(data);

                            $('#ga_vs_aco_routes').attr("src", data.compare_routes);
                            $('#ga_vs_aco_cost').attr("src", data.compare_costs);
                            $('#aco_route').attr("src", data.antcolony_route);
                            $('#aco_cost').attr("src", data.antcolony_cost);
                            $('#ga_route').attr("src", data.ga_route);
                            $('#ga_cost').attr("src", data.ga_cost);

                            $("#plot_area").css("display", "block");

                            $('#errorAlert').hide();
                        }
                    });
                event.preventDefault();
            });

        });

    </script>
    {% endblock %}