<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% extends "base.html" %}

{% block title %}Test Ajax{% endblock %}

{% block content %}
<form id="tspform" method="post" class="d-inline" enctype="multipart/form-data">
    <div class="form-group">
        <label for="cityfile">Gezgin satıcı problemi için dosya seçiniz. Dosya tipleri (csv, txt)</label>
        <input type="file" class="form-control-file btn btn-primary" name="cityfile" id="cityfile" accept=".csv, .txt">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Karınca Kolonisi Parametreleri</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Karınca Sayısı</label>
                            <input type="number" value="11" class="form-control" name="ant_size" id="ant_size"
                                placeholder="Karınca Sayısı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Feromon Buharlaşma Orarnı</label>
                            <input type="number" value="0.3" step="any" class="form-control" name="pheromone_rho"
                                id="pheromone_rho" placeholder="Feromon Miktarı" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Alfa</label>
                            <input type="number" step="any" value="1" class="form-control" name="alpha" id="alpha"
                                placeholder="Alfa Değeri" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Beta</label>
                            <input type="number" step="any" value="1" class="form-control" name="beta" id="beta"
                                placeholder="Beta Değeri" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Genetik Algoritma Parametreleri</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Birey Sayısı</label>
                            <input type="number" value="100" class="form-control" name="life_count" id="life_count"
                                placeholder="Birey Sayısı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mutasyon Olasılığı </label>
                            <input type="number" value="0.2" class="form-control" name="mutation_rate"
                                id="mutation_rate" placeholder="Mutasyon Olasılığı" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>Çaprazlama Olasılığı</label>
                            <input type="number" value="0.4" class="form-control" name="cross_rate" id="cross_rate"
                                placeholder="Çaprazlama Olasılığı" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>İterasyon Sayısı</label>
            <input type="number" value="10" class="form-control" id="iteration" name="iteration"
                placeholder="İterasyon Sayısı" min="1" max="100" required>
        </div>
    </div>
</form>

<div class="col-md-12">
    <div class="form-group">
        <button id="btn_run" type="submit" class="btn btn-primary" style="width: 100%;">ÇALIŞTIR</button>
    </div>
</div>
<center class="mt-2 mb-2">
    <div class="spinner-border" id="wait" style="width: 3rem; height: 3rem; display: none;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</center>

<div class="col-md-12">
    <div id="plot_area" style="display: block;">

        <div class="card">
            <img id="resim1" src="">

            <img id="resim2" src="">

            <div class="card-body">
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
            $("#plot_area").css("display", "none");
        });


        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
            $("#plot_area").css("display", "block");
        });


        $('#btn_run').click(function () {
            alert("çalıştım");
            var form_data = new FormData($('#tspform')[0]);
            $.ajax({
                type: 'POST',
                url: '/tsptest2',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                enctype: 'multipart/form-data'
            })
                .done(function (data) {

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    }
                    else {
                        console.log(data);
                        $('#resim1').attr("src", data.img1);
                        $('#resim2').attr("src", data.img2);
                        $('#successAlert').text(data.name).show();
                        $('#errorAlert').hide();
                    }
                });
            event.preventDefault();
        });

    });

</script>

test2 calisiyor
<!-- 
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="First Name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<div id="wait"
    style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <p>o</p><br>Loading..
</div>


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
        $('form').on('submit', function (event) {
            $.ajax({
                data: {
                    name: $('#nameInput').val(),
                    email: $('#emailInput').val()
                },
                type: 'POST',
                url: '/process'
            })
                .done(function (data) {

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    }
                    else {
                        $('#successAlert').text(data.name).show();
                        $('#errorAlert').hide();
                    }
                });

            event.preventDefault();

        });

    });

</script>

 -->







test 1
<!-- 
<form action="/salih" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
</form>
<script>
    $("#btnSubmit").click(function (e) {
        console.log("test");
        var EmailVal = $("#exampleInputEmail1").val();
        var PasswordVal = $("#exampleInputPassword1").val();

        alert(`Email : ${EmailVal}, Password :  ${PasswordVal}`);

        $.ajax({
            url: '/salih',
            type: 'POST',
            data: {
                'Email': EmailVal,
                'Password': PasswordVal
            },
            success: function (response) {
                console.log("response : " + response);
            },
            error: function (error) {
                console.log("error : " + error);
            }
        });


        e.preventDefault();
        //alert("clicked");
    });
</script> -->
{% endblock %}