<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
<form action="/tsptest2" method="post" class="d-inline">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Karınca Kolonisi Parametreleri</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Karınca Sayısı</label>
                            <input type="number" value="11" class="form-control" name="ant_size" id="ant_size"
                                placeholder="Karınca Sayısı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Feromon Buharlaşma Orarnı</label>
                            <input type="number" value="0.3" step="any" class="form-control" name="pheromone_rho"
                                id="pheromone_rho" placeholder="Feromon Miktarı" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Alfa</label>
                            <input type="number" step="any" value="1" class="form-control" name="alpha" id="alpha"
                                placeholder="Alfa Değeri" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Beta</label>
                            <input type="number" step="any" value="1" class="form-control" name="beta" id="beta"
                                placeholder="Beta Değeri" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Genetik Algoritma Parametreleri</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Birey Sayısı</label>
                            <input type="number" value="100" class="form-control" name="life_count" id="life_count"
                                placeholder="Birey Sayısı" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mutasyon Olasılığı </label>
                            <input type="number" value="0.2" class="form-control" name="mutation_rate"
                                id="mutation_rate" placeholder="Mutasyon Olasılığı" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>Çaprazlama Olasılığı</label>
                            <input type="number" value="0.4" class="form-control" name="cross_rate" id="cross_rate"
                                placeholder="Çaprazlama Olasılığı" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label>İterasyon Sayısı</label>
            <input type="number" value="10" class="form-control" id="iteration" name="iteration"
                placeholder="İterasyon Sayısı" min="1" max="100" required>
        </div>
        <div class="form-group">
            <button id="btn_run" type="submit" class="btn btn-primary" style="width: 100%;">ÇALIŞTIR</button>
        </div>
    </div>
    <center class="mt-2 mb-2">
        <div class="spinner-border" id="wait" style="width: 3rem; height: 3rem; display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </center>
</form>

<div class="col-md-12">
    <div id="plot_area" style="display: block;">

        <div class="card">
            <img id="resim1" src="">

            <img id="resim2" src="">

            <div class="card-body">
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
            $("#plot_area").css("display", "none");
        });


        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
            $("#plot_area").css("display", "block");
        });


        $('form').on('submit', function (event) {
            $.ajax({
                data: {
                    antsize: $('#ant_size').val(),
                    rho: $('#pheromone_rho').val(),
                    alpha: $('#alpha').val(),
                    beta: $('#beta').val(),
                    lifecount: $('#life_count').val(),
                    mutationrate: $('#mutation_rate').val(),
                    crossrate: $('#cross_rate').val(),
                    iteration: $('#iteration').val()
                },
                type: 'POST',
                url: '/tsptest2'
            })
                .done(function (data) {

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    }
                    else {
                        console.log(data);
                        $('#resim1').attr("src", data.img1);
                        $('#resim2').attr("src", data.img2);
                        $('#successAlert').text(data.name).show();
                        $('#errorAlert').hide();
                    }
                });
            event.preventDefault();
        });

    });

</script>
{% endblock %}