body {
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: rgb(204, 204, 204);
}
a:hover {
    color: #ff8000;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #203040;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}